{% extends "skeleton.html" %}
{% block content %}
	<div class="w3-center w3-animate-bottom">
		<div class="w3-bar">
			<form method="GET" class="w3-bar-item" action="{{ url_for('register') }}">
				<input class="w3-border w3-large w3-button" type="submit" name="bttnRegister"  value="Register">
			</form>
			<form method="GET" class="w3-bar-item" action="{{ url_for('login') }}">
				<input class="w3-border w3-large w3-button" type="submit" name="bttnLogin"  value="Login">
			</form>
		</div>
	</div>
{% endblock content %}
