{% extends "skeleton.html" %}
{% block content %}
	{# current_user object is a basic object available in template man(refer to flask-login doc)#}
	{% if current_user.is_authenticated %}
		<p class="w3-xlarge w3-center">Welcome {{ current_user.username }}!</p>
		<form class="w3-center" method="GET" action="{{ url_for('config') }}">
     <input class="w3-border w3-button" type="submit" name="configBot"  value="Config a Bot">
    </form>

	{% else %}
		<div class="w3-center w3-animate-bottom">
			<div class="w3-bar">
					<p class="w3-xlarge">Enter in an Automatised Crypto World</p>
			</div>
		</div>
	{% endif %}
{% endblock content %}
