{% extends "skeleton.html" %}
{% block content %}	
<form class="w3-large w3-center" method="POST">
					<select class="w3-border w3-button" name="cryptoTrigramme">
				 	 <option value="ETH">Ethereum "ETH"</option>
				 	 <option value="BTC">Bitcoin "BTC"</option>
				 	 <option value="XRP">Ripple "XRP"</option>
				 	 <option value="LTC">Litecoin "LTC"</option>
				 	 <option value="TRX">Tron "TRX"</option>
					</select>
					<select class="w3-border w3-button" name="cryptoDevise">
				 	 <option value="USD">In USD</option>
				 	 <option value="EUR">In EUR</option>
				 	 <option value="BTC">In BTC</option>
					</select>
					<input class="w3-border w3-button" type="submit" name="bttnInfo"  value="Get Info">
				</form>
			<br>
			{% if selected_crypto %}
					{% include 'info.html' %}
			{% endif %}
{% endblock content%}
