{% block content %}
	<ul class="w3-large">
		<li>Cryto Trigramme: {{ selected_crypto.trigramme }}</li>
	  <li>{{ selected_crypto.trigramme }} Price: {{ selected_crypto.price }} {{ selected_crypto.symbol }}</li>
	  <li>{{ selected_crypto.trigramme }} Open Day price: {{ selected_crypto.openDay }} {{ selected_crypto.symbol }}</li>
	  <li>{{ selected_crypto.trigramme }} Low Day price: {{ selected_crypto.lowDay }} {{ selected_crypto.symbol }} </li>
	  <li>{{ selected_crypto.trigramme }} High Day price: {{ selected_crypto.highDay }} {{ selected_crypto.symbol }}</li>
	  <li>{{ selected_crypto.trigramme }} Day evolution in %: {{ selected_crypto.evolutionDay }} %</li>
	  <li>{{ selected_crypto.trigramme }} MarketCap: {{ selected_crypto.marketCap }} {{ selected_crypto.symbol }} </li>
	</ul> 
	<div class="w3-animate-bottom" style="text-align:center">
		<form method="POST" action="{{ url_for('startbot') }}">
			<input type="submit" class="w3-button w3-border"  name="bttnBot" value="Config Bot">
		</form>
	</div>
{% endblock %}
