{% extends "skeleton.html" %}
{% block content %}
	{% if test %}
		<form name="loginForm" method="POST">
			<span id="priceUpdated" class="w3-large">YOU HAVE TO SET A USERNAME</span>
			Username: <input type="text" class="w3-input" name="username"><br>
			Email: <input type="text" class="w3-input" name="email"><br>
  	  Password: <input type="password" class="w3-input" name="password"><br>
  	  <input type="submit" class="w3-input" name="validate" value="Create Account"><br>
		</form>
	{% elif not test %}
		<form name="loginForm" method="POST">
			<span id="priceUpdated" class="w3-large"></span>
			Username: <input type="text" class="w3-input" name="username"><br>
			Email: <input type="text" class="w3-input" name="email"><br>
  	  Password: <input type="password" class="w3-input" name="password"><br>
  	  <input type="submit" class="w3-input" name="validate" value="Create Account"><br>
		</form>
	{% endif %}
	<!--<script type="text/javascript"> 
		function check_login(){
			$.getJSON($SCRIPT_ROOT + '/register', function(data) { 
				consoloe.log(data.test)
					('#priceUpdated').text('Actual Price: ' + data.test + ' \u21E9');	
				if(data.test != ''){
					console.log('looooooool')
					('#priceUpdated').text('Actual Price: ' + data.test + ' \u21E9');	
				}
			});
		}
	</script>-->
{% endblock content %}
